<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reinders, Inc</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/home")
    @Scripts.Render("~/bundles/dataminehook")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="main-view">
        @RenderBody()
        <div class="footer">
            <p>Reinders, Inc. Data Mining Web Application</p>
        </div>
    </div>
</body>
</html>
