<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reinders, Inc</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/core.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/home.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.1.4.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Library.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/View.js")"></script>
</head>
<body>
    <section id="navigationsection">
        <div id="navigationwrapper" class="form-inline">
            <div class="form-group"><button id="backwards" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button></div>
            <div class="form-group"><button id="forwards" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></button></div>
            <div class="form-group"><button id="refresh" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i></button></div>
            <div id="urlwrapper" class="form-group has-feedback">
                <input id="urlinput" type="text" class="form-control" spellcheck="false"/>
                <span id="success" class="glyphicon glyphicon-ok form-control-feedback"></span>
                <span id="failure" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
        </div>
    </section>
    <section id="iframesection">
        <div id="iframewrapper">
            <iframe id="targetframe"></iframe>
            <div id="elementselector"></div>
        </div>
    </section>
    <section id="filtersection">
        <div id="filterwrapper">
            <div class="third">
                <div id="customisation">
                    <div id="selectorwrapper" class="form-inline">
                        <div class="form-group">
                            <label id="levellabel" for="level">Selector:</label>
                        </div>
                        <div class="form-group">
                            <button id="minusone" class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <div id="selectorinnerwrapper" class="form-group">
                            <input id="selector" type="text" class="form-control" spellcheck="false" readonly />
                        </div>
                        <div class="form-group">
                            <button id="plusone" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                    <div id="actionwrapper" class="form-inline"> <!--maybe make it so that the inputs go under the title instead of inline-->
                        <div class="form-group">
                            <label for="action">Action:</label>
                            <select class="form-control" id="action">
                                <option>Click</option>
                                <option>Grab</option>
                                <option>Ignore</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="third">
                
            </div>
            <div class="third">
                
            </div>
        </div>
    </section>
</body>
</html>